@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', monospace;
    
}

a{
    text-decoration: none;
    display: inline;
    color: black;
}

.home-body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-container{
    max-width: 980px;
    margin: auto;
}

header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container{
    background-color: #f05945;
    width: 100%;
    height: 50px;
    display: grid;
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span{
    color: white
}

nav{
    background-color: #a3d2ca;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left: 50px;
}

nav .nav-logo-container img{
    width: 220px;
    margin-top: -70px;
}

nav .nav-profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: -60px;
    font-weight: bold;

}

nav .nav-profile-link a{
    color: black;
    border-bottom: 1px solid black;
    
}


.home-main-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url(../assets/img/pexels-craig-dennis-205421.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
}

.home-main-container section{
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}

.home-main-container-title {
    font-family: 'Roboto mono', monospace;
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: white;
    text-align: center;
    
}

.home-main-container-button { 
    height: 50px;
    width: 110px;
    background-color: #5eaaa8;
    display: grid;
    align-items: center;
    border-radius: 10px;
}

.home-main-container-button a {
    font-size: 17px;
    margin: auto;
    font-weight: bold;
    color: white;
}

.blogs-main{
    display: grid;
}

.blogs-news-container{
    background-color: #f7f3e9;
    padding: 0 50px 40px;
}

.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.blogs-news-img-container{
    grid-column: 1;
}

.blogs-news-img-container img{
    width: 80%;
}

.blogs-news-info-container{
    grid-column: 2;
}

.blogs-news-info-container p{
    margin-bottom: 35px;
}

.blogs-posts-container{
    padding: 0 50px 40px;
    text-align: center;
}

.blogs-posts-container h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}

.blogs-button{
    border: 1px solid #5eaaa8;
    padding: 10px 15px;
    font-size: 12px;
}

.blogs-posts-container .post-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
    text-align: left;
}

.blogs-posts-container .post-container p{
    margin-bottom: 35px;
}

.blogs-posts-container .post-container img{
    width: 100%;

}


footer{
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid #f05945;
    text-align: center;
}

footer p{
    color: white;
    margin-top: 30px;

}

.grid-blogpost-img-container{
    padding: 0 50px 40px;
}

.grid-blogpost-img-container img {
    width: 100%;
}

.blogpost-main-container {
    padding: 0 50px 40px;
}

.blogpost-main-container h3{
    border-bottom: 1px solid #cdd2da;
}

.blogpost-main-container article h1{
    font-size: 35px;
}

.blogpost-main-container article p{
    text-align: justify;
}

.blogpost-main-container h3{
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 20px;
}

.contact-main-container{
    width: 100%;
    min-height: 250px;
    background-color: #5eaaa8;
    text-align: center;
    padding-bottom: 50px;
}

.contact-main-container div {
    display: inline-block;
    width: 49.5%;
    height: 100%;
}

.contact-main-container div a {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.contact-main-container .contact-left, .contact-right{
    text-align: initial;
    margin-top: 85px;
}

.contact-main-container img{
    width: 100px;
}